@import 'variables';
@import 'mixins';
@import 'utilities';

/* Basic reset and styling */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $gray500;
    color: #fff;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    ul, ol, li {
        list-style: none;
    }
    a {
        color: inherit;
        text-decoration: none;
    }
    button {
        background: none;
        border: none;
        cursor: pointer;
    }
    button, input, textarea, select, option {
        font-family: inherit;
        line-height: inherit;
        letter-spacing: inherit;
    }
}

.site-wrap {
    max-width: 1600px;
    margin-inline: auto;
}

.aside {
    width: 20%;
    min-width: 225px;
    padding-top: 2.5em;
    position: relative;
    z-index: 1;
    @media screen and (max-width: $breakMid) {
        width: max-content;
        position: fixed;
        top: 0;
        left: 0;
        padding-top: 0;
    }

    .cbwd-logo {
        width: 150px;
        display: block;
        margin-bottom: 3em;
        margin-left: $gutter;
        @media screen and (max-width: $breakMid) {
            display: none;
        }
    }
    .aside-nav {
        @media screen and (max-width: $breakMid) {
            position: absolute;
            top: 78px;
            left: 0;
            background-color: $gray500;
            height: 100vh;
            width: 100%;
            opacity: 0;
            visibility: hidden;
        }
        li a::before, #createBoardButton::before {
            content: "\f114";
            font: normal normal normal 16px/1.5 FontAwesome;
            position: absolute;
            left: 25px; top: 50%;
            transform: translateY(-50%);
        }
        li {
            position: relative;
            a {
                color: $gray100;
                display: block;
                padding-block: 1.25em;
                padding-left: calc($gutter + 40px);
                font-weight: 700;
                border-radius: 0 100vw 100vw 0;
                transition: .3s ease-in-out;
                &:hover, &:focus-visible {
                    color: #fff;
                }
                &.active {
                    background-color: $primary;
                    color: #fff;
                    
                }
            }
            &:has(a.active):hover .delete-board {
                visibility: visible;
                opacity: 1;
            }
            .delete-board {
                color: $alert;
                position: absolute;
                z-index: 1;
                top: 50%;
                display: block;
                padding: 5px;
                transform: translateY(-50%);
                right: 10px;
                font-size: 1.05rem;
                opacity: 0;
                visibility: hidden;
                transition: .3s opacity ease;
            }

        }
    }
    #createBoardButton {
        display: block;
        padding-left: 60px;
        margin-top: 2em;
        position: relative;
    }
}

.main {
    width: 80%;
    border-left: 1px solid $gray200;
    @media screen and (max-width: $breakMid) {
        width: 100%;
    }
}

/* Top bar */
.header {
    padding-inline: $gutter;
    margin-block: 2em;
    @media screen and (max-width: $breakMid) {
        position: fixed;
        z-index: 1;
        top: 0; left: 0;
        width: 100%;
        background-color: $gray500;
        margin-block: 0;
        padding-block: 1em;
        .header-left {
            position: relative;
            @include flexCenter(row);
            .cbwd-logo-mobile {
                display: inline-block !important;
                width: 45px;
            }
        }
        h1 {
            margin-left: 10px;
            display: inline-block;
            @media screen and (max-width: $breakMobile) {
                font-size: 1rem;
            }
        }
    }
    .mobile-board-dropdown-toggle {
        display: none;
        position: relative;
        z-index: 1;
        @media screen and (max-width: $breakMid) {
            display: block;
            position: absolute;
            top: 0; left: 0;
            width: 120%; height: 100%;
            text-align: right;
            .fa {
                font-size: 18px;
                rotate: 0deg;
                transition: .3s rotate ease-in-out;
                @media screen and (max-width: $breakMobile) {
                    font-size: 1rem;
                }
            }
            &.open {
                .fa {
                    rotate: 180deg;
                }
            }
        }
    }
}


/* Main board layout */
.board {
    display: flex;
    padding: $gutter;
    min-height: 100vh;
    @media screen and (max-width: $breakMid) {
        position: relative;
        top: 74px;
    }
    
}

/* Columns */
.column {
    width: 33.3333%;
    .column-cat {
        color: $gray100;
        text-transform: uppercase;
        font-size: .8rem;
        letter-spacing: 2px;
        &::before {
            content: "";
            width: 10px; height: 10px;
            background-color: aqua;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
        }
        @media screen and (max-width: $breakMobile) {
            font-size: .7rem;
            letter-spacing: 1px;
        }
    }
    &:nth-of-type(2) .column-cat::before {
        background-color: $primary;
    }
    &:nth-of-type(3) .column-cat::before {
        background-color: lime;
    }
}



.task-card {
    background-color: $gray500;
    margin: 15px 0;
    padding: 20px 15px;
    border-radius: 5px;
    cursor: pointer;
    >p {
        color: $gray100;
        margin-top: 7px;
    }
    @media screen and (max-width: $breakMobile) {
        padding: 10px;
        h3 {
            font-size: .8rem;
        }
        >p {
            font-size: .7rem;
        }
    }
}

.task-card.dragging {
    opacity: 0.5;
}

/* Modals */
.modal.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    padding-inline: 1em;
    @include flexCenter(row);
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    .modal-content {
        background-color: $gray500;
        padding: 30px 20px 40px;
        width: 500px;
        border-radius: 8px;
        position: relative;
        label {
            font-weight: 700;
            margin-block: 1.5em .5em;
            display: block;
        }
        input, textarea, select {
            background-color: inherit;
            border: 1px solid $gray200;
            color: #fff;
            width: 100%;
            display: block;
            height: 38px;
            border-radius: 4px;
            padding-left: 10px;
        }
        input.input-error {
            border-color: $alert;
        }
        
        textarea {
            min-width: 100%;
            max-width: 100%;
            min-height: 70px;
            padding-top: 10px;
        }
        select {
            color: #fff;
        }
        .btn {
            display: block;
            width: 100%;
        }
        #modalCreateTaskButton {
            margin-top: 2em;
        }
        .subtasks-container {
            li {
                display: flex;
                justify-content: space-between;
                gap: 1em;
                margin-bottom: 1em;
                input.subtask-checkbox {
                    width: 38px;
                    border: none;
                    display: none;
                }
                .delete-subtask {
                    color: #888;
                }
            }
        }
    }
    li.completed .edit-subtask {
        text-decoration: line-through;
        color: $gray100;
        font-size: inherit;
    }
    &.editing-task {
        //editing task modal
        border: 1px solid aqua;
        .modal-content {
            >h2, .label-title, .label-desc {
                display: none;
            }
            #modalTaskTitle, #modalTaskDescription {
                border: none;
            }
            input#modalTaskTitle {
                text-transform: capitalize;
                font-weight: 700;
                font-size: 1.25rem;
            }
            .subtasks-container {
                li {
                    background-color: $gray900;
                    padding: 10px;
                    border-radius: 3px;
                    input.subtask-checkbox {
                        display: block;
                    }
                }
            }
            #modalTaskStatus {
                margin-bottom: 2em;
            }
            #modalSaveChangesButton, #modalDeleteTaskButton {
                width: auto;
            }
            .delete-task-btn {
                float: right;
                margin-top: 1.5em;
            }
        }
    }
}

.site-wrap.mobile-dropdown-active {
    .aside-nav {
        visibility: visible;
        opacity: 1;
    }
    .header .mobile-board-dropdown-toggle .fa {
        rotate: 180deg;
    }
    .board {
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%; height: 100%;
            background-color: rgba($gray900, .5);
            backdrop-filter: blur(4px);
            inset: 0;
        }
    }
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
